/* Pagination.css */

.pagination-container {
    margin-top: 10px;
  }
  
  .page-button {
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid #007bff;
    border-radius: 4px;
    background-color: #007afc;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .page-button:hover {
    background-color: #1d364d;
    color: #f1f1f1;
  }
  